img {
  width: 90px;
}
h2 {
  font-weight: 400;
}
input {
  padding: 8px;
  border-radius: 3px;
  border: .5px solid #999;
  margin: 7px;
}
body {
  font-family: roboto, arial, sans-seri;
  font-size: 15px;
}
.container {
  width: 80%;
  background: white;
  margin:auto;
  margin-top: 50px;
  border-radius: 10px;
  padding: 45px;
  position: relative;
}
body {
  background: #E7E7E7;
}
div.content-left {
  width: 60%;

}
.btn1 {
  border: 0;
  background: white;
  color: blue;
  padding: 8px
}
.klik {
  margin: 10px;
}
.btn2 {
  float: right;
  margin-right: 7px;
  padding: 8px;
  border: 0;
  background: blue;
  color: white;
  font-size: 17px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
  
}
.content-right {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 25%;
}
img {
  width: 170px;
  margin: auto;
  display: block;
  
}
.btn:hover {
  opacity: 0.8;
}
.btn, .tk {
    cursor: pointer;
}